// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style
.post-read-more {
  margin-top: 30px;
  a {
    display: inline-block;
    border-bottom: 3px solid #ddd;
  }
}

.dark-theme .post-read-more a {
  border-color: #555;
}
